<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      OpenGL ES 3.0 is not strictly required (we use Canvas + RenderNode),
      but including this hint helps the system optimize GPU resources.
      Since our app works on any hardware-accelerated device, we set it as optional.
    -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="false" />

    <!-- No special permissions needed; all rendering is local. -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThePowerOfMind"
        android:hardwareAccelerated="true"
        tools:targetApi="34">

        <activity
            android:name="com.pot.cil.hj.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ThePowerOfMind"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>